{
    "parser": "babel-eslint",
    "parserOptions": {
      "allowImportExportEverywhere": true
    },
    "extends": [
      "airbnb",
      "plugin:meteor/recommended"
    ],
    "plugins": [
      "meteor"
    ],
    "settings": {
      "import/resolver": "meteor"
    },
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "no-underscore-dangle": [
        "error",
        {
          "allow": [
            "_id"
          ]
        }
      ],
      "import/no-extraneous-dependencies": 0
    }
}
