{
    "env": {
        "browser": true,
        "es6": true,
        "meteor": true
    },
    "parser": "babel-eslint",
    "extends": [
      "airbnb",
      "plugin:meteor/recommended"
    ],
    "parserOptions": {
      "allowImportExportEverywhere": true
    },
    "plugins": [
        "import",
        "meteor"
    ],
    "settings": {
      "import/resolver": "meteor"
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": [2, { ignore: ['children'] }],
      "import/extensions": ["off", "never"],
      "import/no-extraneous-dependencies": "off",
      "arrow-body-style": ["error", "always"],
      "import/no-unresolved": 0,
      "no-underscore-dangle": [
        "error",
        {
          "allow": [
            "_id"
          ]
        }
      ],
    }
}
