// General
$font-family-body: 'Noto Serif', serif;
$font-family-title: 'Titillium Web', sans-serif;

// Colors
$color-brand:               #ed1c24 !default;

$color-brown:               #603913 !default;
$color-green:               #39b54a !default;
