.dish-info .jumbotron {
  background-image: url("https://realfood.tesco.com/media/images/303-vegetarian-vegetable-nasi-goreng-LH-e6ab7333-fb46-4c34-8a8e-177daabede6e-0-1400x919.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
}
