.jumbotron {
  background-image: url("/nasibox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 480px;
  .container {
    position: relative;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 1.5em;
    }

    p {
      color: #fff;
      text-align: center;
    }

    img {
      width: 25%;
      margin: 120px 0 24px 0;
    }

    a {
      margin-top: 32px;
    }
  }
}
