.navbar-default {
  background-color: $color-green;
  border-color: transparent;
  border-radius: 0;
}

.navbar-nav {
  ul {
    li {
      color: #fff;
    }
  }
}

.navbar-default {
  .navbar-nav {
    li {
      a {
        font-size: 1.25em;
        color: #fff;

        &:hover,
        &:focus,
        &.active {
          color: darken(#fff, 10%);
        }
      }
    }
  }
}

.navbar-brand img {
  height: 24px;
}

.navbar-default .navbar-toggle {
    background-color: $color-green;
    border-color: #FFF;
    &:hover {
      background-color: lighten($color-green, 20%);
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.badge {
  color: $color-green;
  background-color: #FFF;
}

.dropdown-menu {
  padding: 8px;
}
