body {
  font-family: $font-family-title;
  font-weight: 400;
  font-size: 16px;
}

a {
  font-family: $font-family-title;
  color: #fff;
}

p {
  font-family: $font-family-body;
  color: $color-brown;
}

h1, h3 {
  font-weight: 700;
  color: $color-brand;
}
